.password-history {
    font-family: 'Overpass';
    min-width: 368px;
    @include medium {
        min-width: 0;
    }
    &__wrapper {
        height: calc(100% - 80px);
        display: flex;
        flex-direction: column;
        &--empty {
            .password-history__clear {
                display: none;
            }
            .password-history__list {
                opacity: 1!important;
            }
        }
    }
    &__title {
        margin: 0;
        margin-bottom: 40px;
        font-family: 'VALORANT';
        font-weight: 400;
        font-size: 36px;
        line-height: 110.5%;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        color: #FFFFFF;
    }
    &__list {
        max-height: 228px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        flex:1 0 auto;
        gap: 17px;
        -webkit-mask-image: linear-gradient(180deg, rgb(255, 255, 255) 60%, transparent);
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &__item {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        &:hover {
            .password-history__btn svg {
                fill: var(--secondary-color);
            }
            .password-history__pass {
                color: var(--secondary-color);
            }
        }
    }
    &__btn {
        height: 24px;
        pointer-events: none;
        z-index: 2;
        background-color: var(--background-color);
        svg {
            fill: #CFCFCF;
            transition: 0.15s linear;
        }
    }
    &__clear {
        margin-top: 3rem;
        flex: 0 0 auto;
        align-self: end;
        font-weight: 500;
        font-size: 24px;
        line-height: 113%;
        letter-spacing: 0.105em;
        text-transform: uppercase;

        color: var(--secondary-color);
    }
    &__pass {
        max-width: 320px;
        overflow: hidden;
        pointer-events: none;
        display: block;
        font-weight: 300;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0.06em;
        transition: 0.15s linear;
        padding-top: 3px;

        color: #CFCFCF;
        @include mobile {
            max-width: 240px;
        }
    }
}