.password-generator {
  font-family: "Overpass";
  min-width: 610px;
  @include tablet {
    min-width: 0;
  }
  &__settings {
    padding-left: 7px;
    margin-top: 90px;
    @include tablet {
      margin-top: 70px;
    }
  }
  &__slider {
    @include flex-all-sb;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 61px;
    &--label,
    &--value {
      display: block;
      padding-top: 6px;
      font-size: 24px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #fff;
      @include mobile {
        font-size: 18px;
      }
    }
    &--value {
      width: 44px;
      text-align: right;
    }
    .range-slider {
      width: 65%;
      @include mobile {
        width: 50%;
      }
    }
    #custom-range {
      -webkit-appearance: none;
      appearance: none;
      outline: none;
      width: 100%;
      height: 2px;
      background-color: var(--primary-color);
      &::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        cursor: pointer; /* Cursor on hover */
        width: 23px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background-color: var(--secondary-color); /* Green background */
      }
    }
  }
  &__input {
    position: relative;
    margin-bottom: 20px;
    max-width: 610px;
    height: 80px;
    border: 2px solid var(--primary-color);
    input {
      width: 100%;
      height: 100%;
      padding: 0 35px;
      font-weight: 600;
      font-size: 24px;
      letter-spacing: 0.06em;
      color: var(--primary-color);
      background-color: var(--input-color) !important;
      @include mobile {
        padding: 0 60px 0 20px;
        font-size: 20px;
      }
      &:focus {
        outline: 0;
      }
    }
    button {
      height: 24px;
      width: 24px;
      position: absolute;
      top: 50%;
      right: 28px;
      z-index: 10;
      transform: translateY(-50%);
      @include mobile {
        right: 20px;
      }
      svg {
        pointer-events: none;
        fill: var(--primary-color);
      }
    }
    @include tablet {
      max-width: 100%;
    }
  }
  &__btn {
    position: relative;
    height: 80px;
    width: 310px;
    padding: 0 34px 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    background: linear-gradient(
      45deg,
      transparent 25px,
      var(--primary-color) 0
    );
    transition: 0.25s ease;
    @include mobile {
      width: 100%;
      height: 70px;
      gap: 2rem;
    }
    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      opacity: 0;
      background: linear-gradient(
        45deg,
        transparent 25px,
        var(--primary-color) 0
      );
      transition: 0.25s ease;
    }
    &:hover {
      transform: translateY(-2px);
      background: linear-gradient(
        45deg,
        transparent 25px,
        rgb(216, 251, 63) 0.5
      );
      &::before {
        opacity: 0.3;
        top: 5px;
        left: 5px;
      }
      &::after {
        opacity: 0.5;
        top: -5px;
        left: -5px;
      }
    }
    span {
      pointer-events: none;
      display: block;
      font-family: "VALORANT";
      font-weight: 400;
      font-size: 22px;
      color: var(--background-color);
      text-align: left;
      @include mobile {
        font-size: 20px;
      }
    }
    svg {
      pointer-events: none;
    }
  }
  &__checkboxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
    @include mobile {
      gap: 3rem;
      justify-content: center;
    }
  }
  &__checkbox {
    @include mobile {
      width: 180px;
    }
  }
}
.custom-checkbox {
  display: inline-block;
  font-family: "Overpass";
  cursor: pointer;
  user-select: none;

  &:hover {
    @include checkbox-media {
      .custom-checkbox__input + span {
        &::before {
          background-color: var(--secondary-color);
        }
      }
    }
  }
  &__text {
    position: relative;
    padding-left: 37px;

    font-weight: 400;
    font-size: 20px;
    line-height: 113%;
    letter-spacing: 0.105em;
    text-transform: uppercase;

    color: #ffffff;
    transition: 0.2s ease;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border: 2px solid var(--secondary-color);
      width: 24px;
      height: 24px;
    }
    &:hover {
      color: var(--color-dark);
    }
  }
  &__input {
    &:checked + span {
      &::before {
        background-color: var(--secondary-color);
      }
    }
  }
}
