<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="theme-color" content="#030B00" />
  <meta
    name="description"
    content="Генератор пароля онлайн, генератор пин-кода онлайн, генератор паролей, генератор пин-кодов"
  />
  <title>Генератор паролей | Batyr Daurov</title>
  <link rel="stylesheet" href="css/vendor.css" />
  <link rel="stylesheet" href="css/main.css" />
  <script defer src="js/main.js"></script>
</head>
