<div class="password-history">
  <h2 class="password-history__title">History:</h2>
  <div class="password-history__wrapper password-history__wrapper--empty">
    <ul class="password-history__list list-reset" id="historyList">
      <li class="password-history__item">
        <span class="password-history__joke"
          >It's quiet here, too quiet...</span
        >
      </li>
    </ul>
    <button class="password-history__clear btn-reset" id="clearBtn">
      Clear history
    </button>
  </div>
</div>
