<footer class="footer">
  <div class="container footer__container">
    <nav class="nav">
      <a
        href="https://github.com/BatyrDaurov"
        target="_blank"
        rel="noopener noreferrer"
        >AUTHOR</a
      >
      <a
        href="https://github.com/BatyrDaurov/password-generator"
        target="_blank"
        rel="noopener noreferrer"
        >SOURCE CODE</a
      >
      <a href="./index.html" target="_blank" rel="noopener noreferrer"
        >passwords</a
      >
    </nav>
  </div>
</footer>
