// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/footer";
@import "./components/_password-generator";
@import "./components/_password-history";

.password {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    @include medium {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
    }
    @include tablet {
        grid-template-columns: 1fr;
        gap: 7rem;
    }
}
.pin-code {
    .custom-checkbox {
        opacity: 0.8;
        pointer-events: none;
    }
}